body{
    background-color: black;
    background-image: url("mountain.png");
    /*background-size: 800px 800px;*/

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}