
body{
    background-color: black;
}
#intro{
    height: 100%;
   
    color: white;
    background-color: black;
    animation-name: story;
    text-align: center;
    animation-duration: 10s;
    position: relative;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    z-index: 10;
    margin: 0;
    padding: 0;

    
}
@keyframes story{
    0%{
        top:0;

    
    }
    
    
    100%{
        top: 800px;
    }
}
#title{
    background: url("titlescreen.png");
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
}
#start{
    background-color: white;
    border: 1px solid black;
   
   position: absolute;
   top: 500px;
   left: 350px;
   background-color: #4f2e09;
	  border: 1px solid black;
	  border-radius: 50px;
	
	  padding: 15px 32px;
	  text-align: center;
	  display: inline-block;
	  font-size: 70px;
	  margin: 25px 25px;
	  cursor: pointer;

}
#about{
    background-color: white;
    border: 1px solid black;
   
   position: absolute;
   top: 500px;
   left: 800px;
   background-color: #4f2e09;
	  border: 1px solid black;
	  border-radius: 50px;
	
	  padding: 15px 32px;
	  text-align: center;
	  display: inline-block;
	  font-size: 70px;
	  margin: 25px 25px;
	  cursor: pointer;

}

